
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-slides spinner pager autoplay="3000" loop="true" speed="500">

    <ion-slide>
      <img src="assets/imgs/kaslogo.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/smarthome.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/infowarga.png" />
    </ion-slide>

  </ion-slides>
  <br />
  <div padding style="text-align:center;">
    <div style="padding-left:20px;text-align:left;max-width:300px;margin: 0 auto;">
    <span id="MenuIconLoggedIn" *ngIf="homeloggedin">
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;"  ion-button outline color="slave"  (click)="goKaswarga()">
      <img ion-img src="assets/imgs/barcode.png" />
      Kas Warga
    </button>
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="goBayar()" >
      <img ion-img src="assets/imgs/checklist.png"  /> <ion-badge item-end *ngIf="showtotalIuran">{{totalIuran}}</ion-badge>
      Konfirmasi Bayar
    </button>
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="doAlert()">
      <img ion-img src="assets/imgs/policeman.png" />
      Skurity Ngider
    </button>
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="doAlert()">
      <img ion-img src="assets/imgs/megaphone.png" />
      Buku Tamu
    </button>
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="doAlert()">
      <!--goExplore-->
      <img ion-img src="assets/imgs/cctv.png" />
      CCTV Lingkungan
    </button>
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="doAlert()">
      <img ion-img src="assets/imgs/smart-house.png" />
      Smart Home
    </button>
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="doAlert()">
      <img ion-img src="assets/imgs/information.png" />
      Info Warga
    </button>
  </span>
    <a class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" target="_blank" href="http://google.co.id">
      <img ion-img src="assets/imgs/chrome.png" />
      <b>Pencarian</b>
    </a>
    <button class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="openWithInAppBrowser('http://m.jasamargalive.com')">
      <img ion-img src="assets/imgs/jsm.png" />
      <b>Jasamarga</b>
    </button>
    <a class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="openWithInAppBrowser('http://lewatmana.com')">
      <img ion-img src="assets/imgs/turn.png" />
      <b>Lewatmana</b>
    </a>
    <a class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="openWithInAppBrowser('http://rttmc.dephub.go.id/rttmc/m/page/cctv')">
      <img ion-img src="assets/imgs/traffic.png" />
      <b>Dishub Traffic</b>
    </a>
    <a class="home-btn" style="width:8rem;font-size: 1rem;height:7rem;" ion-button outline color="slave" (click)="openWithInAppBrowser('http://www.trafi.com/id/jakarta')">
      <img ion-img src="assets/imgs/bus.png" />
      <b>Transportasi</b>
    </a>
  </div>
  </div>
</ion-content>

